*,
::after,
::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 14px;
    line-height: 27px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    color: #515151;
}

a {
    text-decoration: none;
    color: #515151 !important;
}
a:hover, a:focus, a:active{
    color: #fd5780 !important;
}
/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav {
    width: 60%;
}
.btn-primary, .btn-primary:hover{
    color: #fff !important;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: end;
}
.menu li {
    width: 25%;
    color: #515151 !important;
    text-align: center;
    list-style-type: none;
}
.lienMenu:hover,
.menuActif {
    color: #fd5780 !important;
}

header .menu-icon {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

header .menu-icon .fa-bars {
    background: #fd5780;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
}

header .menu-icon .fa-bars:before,
header .menu-icon .fa-bars:after {
    background: #fd5780;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

header .menu-icon .fa-bars:before {
    top: 5px;
}

header .menu-icon .fa-bars:after {
    top: -5px;
}

/* menu btn */
header .menu-btn {
    display: none;
}

header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

header .menu-btn:checked ~ .menu-icon .fa-bars {
    background: transparent;
}

header .menu-btn:checked ~ .menu-icon .fa-bars:before {
    transform: rotate(-45deg);
}

header .menu-btn:checked ~ .menu-icon .fa-bars:after {
    transform: rotate(45deg);
}

header .menu-btn:checked ~ .menu-icon:not(.steps) .fa-bars:before,
header .menu-btn:checked ~ .menu-icon:not(.steps) .fa-bars:after {
    top: 0;
}

/* section home */
.homeBanner {
    background: url(../images/banniere.png) no-repeat top center;
    background-position: center;
    background-size: cover;
    min-height: 693px;
}
.homeBanner--content {
    padding-top: 10%;
    color: #515151;
}
.homeBanner--content h1 {
    margin-top: 20px;
    font-size: 50px;
    font-weight: 500;
    line-height: 60px;
    margin-bottom: 1%;
}
.homeBanner--content h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 0px;
    letter-spacing: 0.5px;
}

.homeBanner--content a {
    margin-top: 3%;
}

/* section de reseaux sociaux */
@keyframes animationSocialIcon1 {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }
    100% {
        transform: translate(0px, 0px) rotate(360deg);
    }
}
@keyframes animationSocialIcon2 {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }
    100% {
        transform: translate(0px, 0px) rotate(-360deg);
    }
}
.socialIcon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 67%;
    left: 1%;
}

.socialIcon a {
    color: #fd8f7e !important;
    font-size: 30px;
    margin: 28px 6px 12px 4px;
}

.socialIcon a:nth-of-type(1):hover{
    animation: animationSocialIcon1 10s infinite linear; 
}
.socialIcon a:nth-of-type(2):hover{
    animation: animationSocialIcon2 10s infinite linear; 
}
.socialIcon a:nth-of-type(3):hover{
    animation: animationSocialIcon1 10s infinite linear; 
}

/* A propos */
.about {
    display: flex;
    justify-content: space-between;
    padding-top: 4%;
    color: #515151;
}
.about .image-about {
    width: 50%;
    display: flex;
    align-items: center;
}
.about article {
    width: 50%;
}
.about img {
    width: 100%;
    max-width: 400px;
    height: auto;
}
.about h1 {
    font-size: 36px;
}
.about p {
    font-size: 15px;
    font-weight: 400;
}
.about p:nth-of-type(1) {
    margin-bottom: 0;
}
.about p:nth-of-type(2) {
    margin-top: 5px;
}
.about p b {
    font-weight: 700;
}
.about a {
    margin-top: 2%;
}

/* skills */

progress {
    border-radius: 3px;
    height: 15px;
    width: 100%;
}
progress::-webkit-progress-bar {
    background-color: #dbdbdb;
}
progress::-webkit-progress-value {
    background-color: #fd8f7e;
    box-shadow: 1px 1px 5px 3px rgba(221, 170, 170, 0.1);
}
.competences {
    margin-top: 6% !important;
}
.competences h2 {
    font-size: 28px;
}
.competences ul {
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-between;
}
.competences li {
    width: 30%;
    margin-bottom: 1%;
}
/* Contact */
.contact {
    padding-top: 4%;
    display: flex;
    align-items: top;
    justify-content: space-between;
}
.contact h1 {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-size: 30px;
}
.contact-info {
    padding-right: 5%;
    width: 30%;
}
.contact-info a {
    font-size: 17px;
    color: #515151;
    margin: 2% 0;
    display: inline-block;
}

.contact-info a:first-child {
    margin-top: 8%;
}
.contact-info a:hover {
    color: #fd8f7e;
}
.contact-info i {
    font-weight: 700;
    color: #fd8f7e;
    margin-right: 10px;
    font-size: 20px;
}
.contact form {
    width: 70%;
}

.contact input[type="text"],
.contact textarea,
.contact input[type="email"],
.contact input[type="tel"] {
    border: 1px solid rgb(217 217 217);
    padding-left: 18px;
    font-size: 13px;
    background: transparent;
    width: 75%;
    height: 40px;
    padding: 3px 0;
    margin: 12px 0;
    display: inline-block;
}

.contact label {
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin: 12px 0;
}

.contact form input[type="text"]:nth-of-type(1),
.contact label:nth-of-type(1) {
    margin-top: 0;
}

.contact input[type="submit"] {
    border-color: transparent;
    margin-top: 2%;
}

/* Portfolio */
.portfolio{
    width: 68%;
    margin-left: 4%;
}
.portfolio--title h2{
    margin-top: 20px;
    font-size: 33px;
    font-weight: 900;
    margin-bottom: 1%;
}
.portfolio--title h3{
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 1%;
}
.portfolio--title .contact-info{
    width: 100%;
}
.portfolio--title .contact-info a {
    font-size: 15px;
}
.listwork {
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 4%;
    
}
.work {
    width: 30%;
    margin-bottom: 5%;
}
figure {
    margin: 0px;
}
.listwork figure img {
    width: 100%;
    height: auto;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    box-shadow: 3px 6px 20px 0px #23222247;
}
figcaption {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

.listwork figure img:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
}
/* utils */
.text-uppercase {
    text-transform: uppercase;
}
.btn-primary {
    display: inline-block;
    background: linear-gradient(to right, #fd8f7e 0%, #fd5580 100%);
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    padding: 0 4%;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    background-size: 200% auto;
    cursor: pointer;
}
.btn-primary:hover {
    background: linear-gradient(to right, #f17c6a 0%, #ca2650 100%);
}
.btn-secondary{
    display: inline-block;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    padding: 0 4%;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    background-size: 200% auto;
    cursor: pointer;
    border: 1px solid #fd8f7e;
    background: transparent;
    color: #fd8f7e !important;
    margin-left: 1%;
}
.align-center {
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 100%;
}

/* shapes animation */
@keyframes animationFramesOne {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }
    20% {
        transform: translate(73px, -1px) rotate(36deg);
    }
    40% {
        transform: translate(141px, 72px) rotate(72deg);
    }
    60% {
        transform: translate(83px, 122px) rotate(108deg);
    }
    80% {
        transform: translate(-40px, 72px) rotate(144deg);
    }
    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}

.shape_1 {
    position: absolute;
    top: 45%;
    left: 40%;
    animation: animationFramesOne 15s infinite linear;
}
.shape_2 {
    position: absolute;
    top: 60%;
    left: 21%;
    animation: animationFramesOne 25s infinite linear;
}
.shape_3 {
    position: absolute;
    top: 75%;
    left: 24%;
    animation: animationFramesOne 30s infinite linear;
}
/* responsive */
@media (max-width: 576px) {
    .container {
        max-width: 400px;
    }
}
@media (min-width: 576px) {
    .container {
        max-width: 500px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 650px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 900px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width: 992px) {
    .socialIcon a {
        font-size: 30px;
    }
    .socialIcon {
        top: 60%;
    }
}
@media (max-width: 768px) {
    .portfolio--title{
        display: none;
    }
    .portfolio{
        width: 100%;
        margin-left: 0;
    }
}
@media (max-width: 992px) {
    .contact {
        display: block;
    }
    .contact form,
    .contact-info {
        width: 100%;
    }
    .contact form {
        margin-top: 8%;
    }
    .contact-info a:first-child {
        margin-top: 3%;
    }
    .contact label {
        font-size: 11px;
    }
}

@media (max-width: 992px) {
    .homeBanner {
        background: url(../images/banniere-sm.png) no-repeat top center;
        background-position: center;
        background-size: cover;
        min-height: 693px;
    }
}
@media (max-width: 600px) {
    .homeBanner {
        background: none;
    }
}

/* hamburger menu bar */
@media (max-width: 992px) {
    .menu {
        display: none;
        border: 1px solid #eee;
        padding: 0;
    }
    .menu-checkbox:checked ~ .menu {
        display: block;
    }
    .menu li {
        display: block;
        margin: 0 auto;
        padding-bottom: 7%;
    }
}
@media (min-width: 992px) {
    .menu-icon {
        display: none !important;
    }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
    .competences li {
        width: 45%;
    }
}
@media (max-width: 575px) {
    .competences li {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .work {
        width: 45%;
    }
}
@media (max-width: 576px) {
    .work {
        width: 100%;
    }
}

/* change scroll*/
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #fd8f7e 0%, #fd5580 100%);
}

.__display-flex{
    display: flex;
}