*,
::after,
::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 14px;
    line-height: 27px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    color: #515151;
}

a {
    text-decoration: none;
}
/* header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu {
    width: 60%;
    display: flex;
}
.lienMenu {
    width: 20%;
    color: #515151;
    text-align: center;
}
.lienMenu:hover,
.menuActif {
    color: #fd5780;
}

/* section home */
.homeBanner {
    background: url(../images/banniere.png) no-repeat top center;
    background-position: center;
    background-size: cover;
    min-height: 693px;
}
.homeBanner--content {
    padding-top: 10%;
    color: #515151;
}
.homeBanner--content h1 {
    margin-top: 20px;
    font-size: 50px;
    font-weight: 500;
    line-height: 60px;
    margin-bottom: 1%;
}
.homeBanner--content h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 0px;
    letter-spacing: 0.5px;
}

.homeBanner--content a {
    margin-top: 3%;
}

/* section de reseaux sociaux */
.socialIcon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 67%;
    left: 1%;
}

.socialIcon a {
    color: #fd8f7e;
    font-size: 30px;
    margin: 28px 6px 12px 4px;
}

/* A propos */
.about {
    display: flex;
    justify-content: space-between;
    padding-top: 4%;
    color: #515151;
}
.about img {
    margin-right: 7%;
    width: 100%;
    max-width: 400px;
    height: auto;
}
.about h1 {
    font-size: 36px;
}
.about p {
    font-size: 15px;
    font-weight: 400;
}
.about p:nth-of-type(1) {
    margin-bottom: 0;
}
.about p:nth-of-type(2) {
    margin-top: 5px;
}
.about p b {
    font-weight: 700;
}
.about a {
    margin-top: 2%;
}

/* skills */

progress {
    border-radius: 3px;
    height: 15px;
    width: 100%;
}
progress::-webkit-progress-bar {
    background-color: #dbdbdb;
}
progress::-webkit-progress-value {
    background-color: #fd8f7e;
    box-shadow: 1px 1px 5px 3px rgba(221, 170, 170, 0.1);
}
.competences {
    margin-top: 4% !important;
}
.competences h2 {
    font-style: 28px;
}
.competences ul {
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-between;
}
.competences li {
    width: 30%;
    margin-bottom: 1%;
}
/* Contact */
.contact {
    display: block;
    padding-top: 4%;
    display: flex;
    align-items: top;
    justify-content: space-between;
}
.contact h1 {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-size: 30px;
}
.contact-info {
    padding-right: 5%;
}
.contact-info a {
    font-size: 17px;
    color: #515151;
    margin: 2% 0;
    display: inline-block;
}

.contact-info a:first-child {
    margin-top: 8%;
}
.contact-info a:hover {
    color: #fd8f7e;
}
.contact-info i {
    font-weight: 700;
    color: #fd8f7e;
    margin-right: 10px;
    font-size: 20px;
}
.contact form {
    width: 70%;
}

.contact input[type="text"],
.contact textarea,
.contact input[type="email"],
.contact input[type="tel"] {
    border: 1px solid rgb(217 217 217);
    padding-left: 18px;
    font-size: 13px;
    background: transparent;
    width: 75%;
    height: 40px;
    padding: 3px 0;
    margin: 12px 0;
    display: inline-block;
}

.contact label {
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin: 12px 0;
}

.contact form input[type="text"]:nth-of-type(1),
.contact label:nth-of-type(1) {
    margin-top: 0;
}

.contact input[type="submit"] {
    border-color: transparent;
    margin-top: 2%;
}

/* Portfolio */
.listeProduit {
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-between;
}
.produit {
    width: 30%;
    margin-bottom: 5%;
}
figure {
    margin: 0px;
}
.listeProduit figure img {
    width: 100%;
    height: auto;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
figcaption {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

.listeProduit figure img:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* utils */
.text-uppercase {
    text-transform: uppercase;
}
.btn-primary {
    display: inline-block;
    background: linear-gradient(to right, #fd8f7e 0%, #fd5580 100%);
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    padding: 0 4%;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    background-size: 200% auto;
    cursor: pointer;
}
.btn-primary:hover {
    background: linear-gradient(to right, #f17c6a 0%, #ca2650 100%);
}
.align-center {
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 100%;
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* change scroll*/
/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #fd8f7e 0%, #fd5580 100%);
}



